body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e3440;
    margin: 0;
    padding: 0;
    color: #eceff4;
    min-height: 100vh;
    user-select: none; /* Disable text selection */
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #3b4252;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #5e81ac;
    border-radius: 10px;
    border: 3px solid #3b4252;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #81a1c1;
}

#search-bar {
    width: 100%;
    text-align: center;
    margin: 20px;
    z-index: 1; /* Ensure search bar is above the gallery */
}

#searchInput {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4c566a;
    background-color: #3b4252;
    color: #eceff4;
}

#searchButton {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #4c566a;
    background-color: #5e81ac;
    color: #eceff4;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #81a1c1;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    height: calc(100vh - 160px); /* Adjust height to account for search bar and footer */
}

.wallpaper {
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

#pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.page-link {
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #4c566a;
    background-color: #5e81ac;
    color: #eceff4;
    cursor: pointer;
}

.page-link:hover {
    background-color: #81a1c1;
}

.page-link.active {
    background-color: #81a1c1;
    pointer-events: none;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #2e3440;
    color: #eceff4;
}